
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<h1>Syed Mustaq Ahamed</h1>
<h2>Computer Science & Engineering Graduate - 2021</h2>
<hr>
<hr>
<hr>
<div id="home-page" ng-cloak>
<table class="center">
  <tr>
    <td class="rowheader"><i class="fa fa-lg fa-birthday-cake" aria-hidden="true" title="Birthday Date"></i></td>
    <td class="rowcell">4th of January</td>
  </tr>
  <tr>
    <td class="rowheader"><i class="fa fa-lg fa-certificate" aria-hidden="true" title="Degree"></i></td>
    <td class="rowcell">Bachelor of Computer Science & Engineering-2021</td>
  </tr>
  <tr>
    <td class="rowheader"><i class="fa fa-lg fa-envelope" aria-hidden="true" title="Send me a line"></i></td>
    <td class="rowcell">
        syedmustaqahmed5@gmail.com
    </td>
  </tr>
  <tr>
    <td class="rowheader"><i class="fa fa-lg fa-phone" aria-hidden="true" title="Give me a ring"></i></td>
    <td class="rowcell">
      +91 861-823-1065
    </td>
  </tr>
  <tr>
    <td class="rowheader"><i class="fa fa-lg fa-map-marker" aria-hidden="true" title="Current Homestead"></i></td>
    <td class="rowcell">Bangalore, India</td>
  </tr>
  <tr>
    <td class="rowheader"><i class="fa fa-lg fa-language" aria-hidden="true" title="Language Known"></i></td>
    <td class="rowcell"><span>English</span>, <span>Hindi</span>, <span>Kannada</span>, <span>Urdu</span>,<span>Arabic</span>
    </td>
  </tr>
  <tr>
    <td class="rowheader"><i class="fa fa-male" aria-hidden="true" title="Gender Pronouns"></i></td>
    <td class="rowcell">He, Him</td>
  </tr>
</table>
</div>

