<div class="internship-container">
  <h1>Internship Experience</h1>

  <div class="internship-item">
    <div class="internship-details">
      <h2>Internship Trainee</h2>
      <strong>Virtue e-Varsity</strong>
      <p>March 2022 - May 2022</p>
      <p>
        Part of hire, train and deploy model for IT MNC clients like DXC
        technologies, Cognizant, and HCL.
      </p>
      <p>
        Attended training for software developer role for DXC technologies
        recruitment drive.
      </p>
      <p>
        Training completed in
        <b> Core Java, Advanced Java, Springboot, and Hibernate frameworks </b>
        for the recruitment drive.
      </p>
    </div>
    <div class="logo">
      <img src="./assets/internships/virtue.jpg" alt="Virtue e-Varsity Logo" />
    </div>
  </div>

  <div class="internship-item">
    <div class="internship-details">
      <h2>Internship Trainee</h2>
      <strong>TechnoServe India</strong>
      <p>Nov 2020 - Oct 2021</p>
      <p>
        Successfully completed the Campus to Technical Careers Training Program
        in
        <b>
          C++, Java, Python, Javascript, SQL, MongoDB, HTML, CSS, PHP, and soft
          skills.
        </b>
      </p>
      <p>This training was sponsored by Capgemini.</p>
      <p>Projects:</p>
      <p>
        Developed APIs to perform CRUD operations in a Placement training
        application using Springboot.
      </p>
      <p>
        Online shopping mall management system developed using the Hibernate
        framework.
      </p>
    </div>
    <div class="logo">
      <img src="./assets/internships/technoserve.png" alt="Technoserve Logo" />
    </div>
  </div>

  <div class="internship-item">
    <div class="internship-details">
      <h2>RedHat System Administration Intern</h2>
      <strong>Karnataka German Technical Training Institute</strong>
      <p>March 2021</p>
      <p>
        Underwent training in RHCSA (RedHat Certified System Administration) to
        perform the following tasks:
      </p>
      <ul>
        <li>
          Understand and use essential tools for handling files, directories,
          command-line environments, and documentation.
        </li>
        <li>Create simple shell scripts.</li>
        <li>
          Operate running systems, including booting into different run levels,
          identifying processes, starting and stopping virtual machines, and
          controlling services.
        </li>
        <li>Configure local storage using partitions and logical volumes.</li>
        <li>
          Create and configure file systems and file system attributes, such as
          permissions, encryption, access control lists, and network file
          systems.
        </li>
        <li>
          Deploy, configure, and maintain systems, including software
          installation, update, and core services.
        </li>
        <li>Manage users and groups.</li>
        <li>
          Manage security, including basic firewall and SELinux configuration.
        </li>
        <li>Perform basic container management.</li>
      </ul>
    </div>
    <div class="logo">
      <img src="./assets/internships/KGTTI.jpg" alt="KGTTI Logo" />
    </div>
  </div>

  <div class="internship-item">
    <div class="internship-details">
      <h2>Winter Intern-MERN Stack Developer</h2>
      <strong>Trade Stack Labs</strong>
      <p>December 2020</p>
      <p>
        Project Enrolled- Global Financial Website for Goods and Tariff rates
      </p>
      <ul>
        <li>
          Part of the software development team working on a global financial
          website for custom tariff conversion on goods and services.
        </li>
        <li>
          Successfully demonstrated importing Excel file data into the MongoDB
          server.
        </li>
        <li>Designed login and sign-up forms using React.js</li>
        <li>Demonstrated CRUD Operations using MongoDB server</li>
        <li>
          Developed the Rest-API(Delete API) using React for the financial
          website.
        </li>
        <p>
          Outcome: Learned basics of React.js and MongoDB which are foundation
          for MERN Stack Developer.
        </p>
      </ul>
    </div>
    <!-- <div class="logo">
      <img src="./assets/internships/techstack.jpg" alt="TSL Logo" />
    </div> -->
  </div>

  <div class="internship-item">
    <div class="internship-details">
      <h2>Software Developer Intern</h2>
      <strong>Kynasys Technologies Pvt Ltd</strong>
      <p>Jan 2020 - Sep 2020</p>
      <p>
        Developed and assisted students in their final year projects. Worked on
        projects:-
      </p>
      <ul>
        <li>Fake News Detection using Machine Learning.</li>
        <li>Time-Table Generator Using Genetic Algorithm.</li>
        <li>Time-Table Generator Using Genetic Algorithm.</li>
        <li>Human Pose Detection using Deep Learning.</li>
        <li>Accident Detection and Rescue System Using Arduino.</li>
      </ul>
      <p>
        Python and Android development trainer for interns from BTL Polytechnic
        and Sri Venkateshwara Colleges during winter break.
      </p>
    </div>
    <div class="logo">
      <img src="./assets/internships/kynasys.jpg" alt="Kynasys Logo" />
    </div>
  </div>

  <div class="internship-item">
    <div class="internship-details">
      <h2>Embedded Software Engineer Intern</h2>
      <strong>AND TECHNOLOGY</strong>
      <p>July 2018 - Aug 2018</p>
      <p>
        My assignment in AND TECHNOLOGY was to develop Static I.P. in Access
        Point mode for the product WI-CON and to give a presentation on I.P.
        Address.
      </p>
      <p>
        The ESP8266 WI-FI module is been programmed in Javascript language by
        Arduino software for setting up static IP in access point mode. A web
        server is developed that switches on the L.E.D. when the timer is
        switched on and it displays the L.E.D. ON button, brightness, uptime and
        it has an additional feature to refresh the page after 5 seconds.
      </p>
      <p>Learning Experience:</p>
      <ul>
        <li>Developed Web Server in ESP8266 Wifi module in Station Mode.</li>
        <li>Developed ESP8266 internal EEPROM Programming.</li>
        <li>Developed ESP8266 web server with L.E.D.countdown timer.</li>
        <li>Developed ESP8266 in Client mode.</li>
        <li>Developed ESP8266 in Static I.P. in Access Point.</li>
      </ul>
    </div>
    <!-- <div class="logo">
      <img src="./assets/internships/kynasys.jpg" alt="Kynasys Logo" />
    </div> -->
  </div>
</div>
